.intro-section{
    background-color: #2E2F42;
}

.intro-section h1{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02;
    color:  #ffffff;
}

.intro-button{
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.intro-button:hover{
    background-color: #404BBF;
}
.intro-button:focus{
    background-color: #404BBF;
}

.span{
    color: #2e2f42;
}