.title1{
    background-color: #2E2F42;
    color: white;
    font-size: 56px;
    text-align: center;
    top: 72px;
}

.end{
    background-color: #2E2F42;
    color: white;
    width: 1440px;
    height: 312px;
    top: 2988px;
}
