body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    order: 0;
    flex-grow: 1;
    border-bottom: 2px solid #434455;
}
nav .logo_style-default{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span{
    color: #2e2f42;
}
a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
a:hover,
a:focus{
    color:#404bbf;
}
.contact-adress {
    font-style: normal;
}

.intro-section{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    background-color: #2E2F42;
    color: #ffffff;
}
.intro-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer
}
.intro-button:hover,
.intro-button:focus{
    background-color: #404BBF;
}

.strategy-heading h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.strategy-description p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.strategy-heading, 
.strategy-description {
    letter-spacing: 0.02em;
}
.punctuality-heading h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.punctuality-description p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.punctuality-heading, 
.punctuality-description {
    letter-spacing: 0.02em;
}
.diligence-heading h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.diligence-description p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.diligence-heading, 
.diligence-description {
    letter-spacing: 0.02em;
}
.technologies-heading h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.technologies-description p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.strategy-heading, 
.strategy-description {
    letter-spacing: 0.02em;
}
.our-team{
    background-color: #f4f4fd;
}
.team-heading{
    font-size: 36px;           
    line-height: 1.11;         
    text-align: center;        
    letter-spacing: 0.02em;    
    text-transform: capitalize;
    color: #2e2f42;
}
.mark-guerrero{
    background-color: #FFFFFF; 
}
.designer-mark{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.designer-role{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.tom-ford{
    background-color: #FFFFFF;
}
.frontend-tom{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.frontend_developer{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.camila-garcia{
    background-color: #FFFFFF;
}
.marketing-camila{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.marketing-role{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.daniel-wilson{
    background-color: #FFFFFF;
}

.designer-daniel{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.daniel-wilson{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
ul {
    list-style-type: none;
    padding: 0;
}
.portfolio-about{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;   
}
.banking_about{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.banking_app{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.cashless-payment-title{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;   
}
.cashless-payment-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.meditation-app-title{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.meditation-app-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;   
}
.taxi-service-title{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.taxi-service-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.screen-illustrations-title{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.screen-illustrations-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.online-curses-title{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.online-curses-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}

.footer{
    background-color: #2e2f42;
}
.footer .logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.second-span{
    color: #2e2f42;
}
.footer-end{
    line-height: 1.5;  
    color: #F4F4FD; 
    letter-spacing: 0.02em;
}